.button{
    border : 1px solid #006ce7;
    border-radius: 5px;
    background-color: #006CE7;
    color : white;
}
.button__body{
    padding : 0.5rem;
}
.image-button{
    height : 2rem;
    width : 2rem;
    color : #002a9e;
    background-color: transparent;
    padding: 0;
    border : 0
}

.image-button .button__body{
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}
.image-button .button__body > *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
}
.button-option{
    background-color: transparent;
    color : #006CE7;
}
.button-option:hover{
    color : white ;
    background-color: #006ce7 ;
}