#sidebar-container{
    position: fixed;
    right: 0;
    top : 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.sidebar-container--collapse{
    pointer-events: none;
}
.sidebar-container--show{
    pointer-events : initial ;
}
#overlay-background{
    position: absolute;
    top : 0;
    left: 0;
    width: 0;
    height: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-container--show #overlay-background{
    width: 100%;
    height: 100%;
}
#sidebar{
    position: absolute;
    top : 0;
    width: 400px;
    height : 100%;
    transition: right 0.5s ease-in-out;
    background-color: white;
    box-shadow: 0 4px 32px 0 black;
}
.sidebar--show{
   right : 0 
}
.sidebar--collapse{
    right : -100%;
}
@media only screen and (max-width : 476px) {
    #sidebar{
        width: calc(100% - 76px) !important;
    }
}

#menu {
    height: 100%;
    overflow-y: auto;
    background-color: #00258b;
}
.menu-close-btn{
    color : rgba(255,255,255,0.5)
}
#menu-content{
    padding : 10px;
    width: 100%;
    text-align: start;
}
.menu-item-container{
    display: flex;
    flex-direction: column;
}
.menu-item-container:hover .menu-item__title{
    color : #00c2ff ;
}
.menu-item{
    display: flex;
    align-items: center;   
}
.menu-item__title{
    flex-grow: 1;
    color : white;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu-item__title-active{
    color : #00c2ff
}
.menu-item__accordion-icon{
    color : white;
}
.menu-item-container:hover .menu-item__accordion-icon{
    color : #00c2ff;
}
.submenu-items-container{
    display: grid;
    grid-template-rows: 0fr;
    margin-left: 1rem;
    overflow: hidden;
    transition: grid-template-rows 1s ;
}
.submenu-items-container.expand{
    grid-template-rows : 1fr;
}
.submenu-items-content{
    min-height: 0px;
    visibility: hidden;
    transition: visibility 1s;
}
.submenu-items-container.expand .submenu-items-content{
    visibility: visible;
}
.menu-item--children-show{
    transform : rotate(180deg);
    transition: transform 0.5s ease;
}
.menu-item--children-collapse{
    transform : rotate(360deg);
    transition: transform 0.5s ease;
}
