#error-page{
    width: 100vw;
    height : 100vh;
    position: relative;
}
#error-page > * {
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
}
#error-page h4{
    color : red;
    font-style: italic;
}