.page-item{
    display: inline-block;
    background-color: #f6f6f6;
    color : black;
    min-height: 40px;
    min-width : 40px;
    padding: 6px;
    margin: 0 3px 10px;
}
.page-item-selectable{
    transition: background-color 0.5s ease ,color 0.5s ease;
}
.page-item--selected{
    color: white;
    background-color: #002a9e;
}
.page-item-selectable:hover{
    color:white;
    background-color: #002a9e;
}


