.left-scroller{
    direction: rtl;
}
.left-scroller__content{
    direction: ltr;
    margin-left: 1rem;
}
.scroller{
    overflow-y: auto;
}
.scroller__content{

}
.scroller::-webkit-scrollbar{
    width : 3px;
}
.scroller::-webkit-scrollbar-thumb{
    background-color : #002A9E
}
.scroller::-webkit-scrollbar-track{
    background-color : #002A9E66;
}

