/* Header container styles */
.header-container{
    background-color: #002A9E;
    padding : 1em 0;
    font-size: 0.6rem;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%;  
}
/* Home page SearchBar */
.search-container{
    margin-left: 2em;
    width: 15%;
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.3);
}
.search-input{
    border-radius: 20px;
    padding : 0.4em;
    padding-left: 1em;
    width : 95%;
    border: none;
    outline: none;
    background-color: #ffffff4D;
    font-size: 1.1em;
}
.search-input::placeholder{
    color : rgba(255,255,255,0.5)
}

.search-icon-container{
    display:flex;
    border-radius: 50%;
    background-color: #00C2FF;
    position: absolute;
    right : 0px;
    width : 2.2em;
    height: 2.2em;
    justify-content: center;
    align-items: center;
}

.icon-container{
    display:flex;
    width : 1.5em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 1.2em;
    height : 1.2em;
}

.language-chooser{
    display: flex;
    font-size: 0.7rem;
    align-items: center;
    /* padding : 0 0 0 0.5rem; */
    padding : 0 0.5rem;
}
.language-chooser__language-item{
    margin : 0;
}
.language-item__link{
    text-decoration: none;
}
.menu-section-container{
    display: flex;
    padding : 1em 10%;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
    padding : 0;
    margin : 0;
}
.nav-bar__nav-item{
    display: flex;
    font-size: 0.7rem;
    align-items: center;
    /* padding : 0 0 0 0.5rem; */
    padding : 0 0.5rem;
}
.nav-item__link{
    text-decoration: none;
}
.nav-item__link:visited{
    color : inherit;
}
.nav-bar__nav-item-dropdown{
    
}
