.bg-img-card{
    height : 100%;
    display: flex;
    flex-direction: column;
}

.bg-img-card__text--sm{
    font-size: 0.7rem;
}
.card__title{
    color : white;
}
.card__content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #F4F9FF1A;
    padding : 1rem;
}
.card__body{
    flex-grow: 1;
    color : #FFFFFFB2;
}
.card__detail-btn{
    color : #00C2FF;
    cursor: pointer;
}

