#header{
    position: fixed;
    top : 0;
    width: 100%;
    z-index: 4;
}
#header-home-top{
    background-color: #002A9E;
    font-weight: 600;
    font-size: 14px;
}
#header-home-main{
    position: relative;
    font-weight: 600;
    background-color: white;
    padding : var(--header-main-padding-y,0);
}
#header-main{
    background-color: #002A9E;
    font-family: 'Roboto';
    font-size: 16px;
    padding : 24px;
}
#header-top{
    font-size: 14px;
    background-color: #00258b;
    padding: 16px;
    font-family: 'Roboto';
}
.language-chooser{
    display: flex;
    align-items: center;
}
.language-item{
    display: flex;
}
.language-item__link{
    text-decoration: none;
    display: flex;
}
.language-item__link--active{
    color : #00C2FF
}
.language-item__link--pending{
    color : #FFFFFFCC
}
