#header{
    position: sticky;
    top : 0;
    width: 100%;
    z-index: 4
}
#header-home-top{
    background-color: #002A9E;
    font-weight: 600;
    font-size: 14px;
}
#header-home-main{
    font-weight: 600;
    background-color: white;
    padding : 24px 0;
}
.language-chooser{
    display: flex;
    align-items: center;
}
.language-item{
    display: flex;
}
.language-item__link{
    text-decoration: none;
    display: flex;
}
.language-item__link--active{
    color : #00C2FF
}
.language-item__link--pending{
    color : #FFFFFFCC
}
