#header-home-top{
    padding : 0 10%;
    font-size: 0.7rem;
    background-color: #002A9E;
}
#header-home-main{
    font-size : 0.8rem;
    font-weight: 500;
}
.language-chooser{
    display: flex;
    align-items: center;
}
.language-item{
    display: flex;
}
.language-item__link{
    text-decoration: none;
    display: flex;
}
.language-item__link--active{
    color : #00C2FF
}
.language-item__link--pending{
    color : #FFFFFFCC
}
