#product-detail__section1{
    padding : 2rem 0;
    border-bottom: 1px solid #d9d9d9;
    font-family: 'Roboto';
}
#product-detail__section2{
    padding : 2rem 0;
    color : #4d4d4d;
    font-family: 'Roboto';
}
#industrial__products{
    padding : 3rem 0 3rem 0;
    font-family: 'Roboto';
}