/* Home page SearchBar */
.home-search-container{
    width: 20%;
    display: flex;
    position: relative;
    border-radius: 20px;
    background-color: rgba(255,255,255,0);
}
.home-search-input{
    border-radius: 20px;
    padding: 0.3em 0 0.3em 1em;
    width : 100%;
    border: none;
    background-color: #ffffff4D;
    font-size: 1.1em;
    color : #ffffffcc;
}
.home-search-input::placeholder{
    color : rgba(255,255,255,0.3)
}

.home-search-icon-background{
    display:flex;
    border-radius: 50%;
    background-color: #00C2FF;
    position: absolute;
    right : 0px;
    width : 2.2em;
    height: 2.2em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.home-search-bar-icon{
    width: 1.2em;
    height: 1.2em;
}