/* Home page SearchBar */
.home-search-container{
    width: 280px;
    display: flex;
    position: relative;
    border-radius: 20px;
    background-color: rgba(255,255,255,0);
}
.home-search-input{
    border-radius: 20px;
    padding: 0.3em 2.3em 0.3em 1em;
    width : calc(100% );
    border: none;
    background-color: #ffffff4D;
    font-size: 1.1em;
    color : #ffffffcc;
}
.home-search-input[type='search']::-webkit-search-decoration,
.home-search-input[type='search']::-webkit-search-cancel-button{
    appearance: none;
}
.home-search-input::placeholder{
    color : rgba(255,255,255,0.3)
}

.home-search-icon-background{
    display:flex;
    border-radius: 50%;
    background-color: #00C2FF;
    position: absolute;
    right : 0px;
    width : 2.3em;
    height: 2.3em;
    justify-content: center;
    align-items: center;
    border : none
}
.home-search-input:focus{
    outline: none;
}
.home-search-bar-icon{
    width: 1.2em;
    height: 1.2em;
}
.search-component{
    padding : 0.5rem;  
    border : 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.search-component input[type="search"]{
    border : none;
    flex-grow: 1;
    padding : 0 1rem;
}



