body{
    margin : 0;
    font-family: 'BeVietNam' ;
    box-sizing: border-box;
    padding: 0;
}
@font-face {
    font-family: 'BeVietNam';
    src: url('./assets/fonts/BeVietnamPro-Regular.ttf') format('trueType');
}