/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body{
    margin : 0;
    font-family: "VNFont", sans-serif;
    box-sizing: border-box;
    padding: 0;
}
@font-face {
    font-family: 'VNFont';
    src:
        url("./assets/fonts/BeVietnamPro-ExtraBold.ttf") format('trueType'),
        url('./assets/fonts/BeVietnamPro-Black.ttf') format('trueType'),
        url("./assets/fonts/BeVietnamPro-Bold.ttf") format('trueType'),
        url("./assets/fonts/BeVietnamPro-Medium.ttf") format('trueType');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BeVietNam';
    src: url('./assets/fonts/BeVietnamPro-Regular.ttf') format('trueType');
    font-weight: 400;
}
@font-face {
    font-family: 'BeVietNam';
    src: url('./assets/fonts/BeVietnamPro-Medium.ttf') format('trueType');
    font-weight: 500;
}
@font-face {
    font-family: 'BeVietNam';
    src: url('./assets/fonts/BeVietnamPro-Bold.ttf') format('trueType');
    font-weight: 600;
}
@font-face {
    font-family: 'BeVietNam';
    src: url('./assets/fonts/BeVietnamPro-ExtraBold.ttf') format('trueType');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight: 600;
}

body{
    margin : 0;
    font-family: 'BeVietNam' ;
    box-sizing: border-box;
    color : white;
    padding: 0;
}
:root{
    --primary : #002A9E;
    --primary-dark : #00258B;

    --bg-primary : #002A9E;
    --bg-primary-dark : #00258B;
    --bg-linear-blue : linear-gradient(270deg, #006CE7 42.29%, #0031B8 100%);

    --text-primary : #4D4D4D;
    --text-secondary : #152D5280;

    --color-white-o-50 : #FFFFFF80;
    --color-white-o-30 : #FFFFFF4D;
}
p {
    margin : 0;
    padding : 0;
}
a,a:hover,a:active,a:visited{
    text-decoration: none;
}
*:focus{
    outline: 0;
}



.text__weight--md{
    font-weight: 500;
}
.text__weight--lg{
    font-weight: 600;
}
.text__weight--xl{
    font-weight: 700;
}
/* ============= Aspect ratio image =============== */
.retained-4-7-image-wrapper{
    position: relative;
    padding-top: 56.21%;
    height: 0;
}

.aspect-2-3-image-wrapper{
    padding-top : 67%;
    width: 100%;
    height : 0;
    position: relative;
}
.aspect-3-5-image-wrapper{
    padding-top : 60%;
    width: 100%;
    height: 0;
    position: relative;
}
.aspect-3-4-image-wrapper{
    padding-top : 75%;
    width: 100%;
    height: 0;
    position: relative;
}
.retained-4-7-image{
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
}
.aspect-image{
    position: absolute;
    top: 0;
    left: 0;
    height : 100%;
    width: 100%;
}
.counter-bottom-image-wrapper{
    position: relative;
}
.counter-bottom-image{
    width: 100%;
    z-index : -1;
}
.counter-bottom-image__dimmed-bottom{
    background-color: #000000B2;
    position: absolute;
    bottom : 0;
    width : 100%;
    padding : 0.5rem;
}
/* ================ OVERRIDE REACT SLICK =====================*/
.custom-carousel .slick-list{
    height : 100% 
}
.custom-carousel .slick-slide > div{
    height: 100%;
}
.custom-carousel .slick-track{
    height : 100%;
}

.custom-carousel__button--disabled > button{
    display: none !important;
}

.slick-dots li{
    margin : 0 !important
}
.slick-dots li.slick-active button:before{
    color : #006CE7 !important
}
.slick-current .carousel-item-infomation,
.slick-current .counter-bottom-image__dimmed-bottom {
    visibility: visible !important; 
}
.slick-slide .carousel-item-infomation{
    position : absolute;
    top : calc(100% + 0.5rem);
    width: 90%;
}
@media only screen and (min-width : 1200px) {
    .scaled-carousel .slick-active{
        transition: all 0.3s;
        width: calc(1116px * 0.25) !important;
    }
}
@media only screen and (min-width : 1400px) {
    .scaled-carousel .slick-active{
        transition: all 0.3s;
        width: calc(1296px * 0.25) !important;
    }
}

.scaled-carousel .slick-current {
    transition: all 0.3s;
    flex-grow: 1;
}
.scaled-carousel .slick-track{
    display: flex;
    align-items: center;
}
.custom-carousel .slick-next::before{
    background-image: url('./assets/images/arrow_next.png');
}
.custom-carousel .slick-prev::before{
    background-image: url('./assets/images/arrow_prev.png');
}
.custom-carousel .slick-prev::before,
.custom-carousel .slick-next::before
{
    font-size: 32px;
    content : "";
    width: 8px;
    height: 13px;
    display: inline-block;
    position: absolute;
    bottom: 50%;
    left : 50%;
    transform: translate(-50%,50%);
    z-index: 2;
}

.custom-carousel .slick-prev,
.custom-carousel .slick-next{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.custom-carousel .slick-prev{
    left : 25px;
    z-index: 3;
    background-color: #006ce7; 
}
.custom-carousel .slick-next{
    right : 25px;
    background-color: #006ce7;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{
    background: #006CE7 !important;
}
.slick-disabled {
    opacity: 0.3;
}
.slick-disabled::before{
    opacity: 1 !important;
}
.scaled-carousel .slick-track{
    margin: 64px 0 100px 0;
}

.slick-thumb li{
    width: 60px !important;
    height: auto !important;
    cursor: pointer;
}
.sided-carousel .sided-navigation{
    height: 100%;
    width: 60px;
    left : -60px;
    bottom : 0;
}

.sided-carousel{
    padding-left : 60px;
}
.sided-carousel .sided-navigation img{
    max-width: 100% ;
    display: block;
}
.slick-thumb li.slick-active img{
    filter: grayscale(0);
}
.slick-thumb li img{
    filter: grayscale(1);
}

/* ================= Extend Bootstrap ========================*/
.px-10{
    padding-left : 10% !important;
    padding-right : 10% !important
}
@media only screen and (min-width : 992px) {
    .mw-lg-75{
        max-width: 75% !important;
    }
}
@media only screen and (min-width : 1200px) {
    .mw-xl-75{
        max-width: 75% !important;
    }
}
@media only screen and (min-width : 1600px) {
    .d-xxxl-flex{
        display: flex !important;
    }
    .d-xxxl-none{
        display: none !important;
    }
}

@media only screen and (min-width : 576px) {
    .px-sm-10{
        padding : 0 10% !important;
    }
    .title-fs-md{
        font-size: 3rem !important;
    }
}
@media only screen and (min-width : 576px) and (max-width : 768px){
    
}
@media only screen and (max-width : 576px) {
    .title-fs-sm{
        font-size: 2rem !important;
    }
}
/* ================================ Post content css ==============================*/
#post-content img{
    height: auto;
    margin : 0 auto;
    display: block;
    max-width: 100%;
}