.selectLanguageContainer{
    border : none;
    position: relative;
    background-color: transparent;
    padding: 0px;
}
.languageFlag{
    width : 18px;
    height : 18px;
}
.selectLanguageItem{
    display: flex;
    color: white;
    align-items: center;
    font-size: 14px;
    padding : 8px;
}
.selectLanguageItem:hover{
    color : #00c2ff;
}
.languageDropdownContainer{
    position: absolute;
    top : 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;   
    visibility: hidden;
    background-color : #222a9e;
}
.selectLanguageContainer:hover .languageDropdownContainer{
    visibility: visible;
} 
.languageDropdownIcon{
    transition: rotate 0.5s ease ;
}
.selectLanguageContainer:hover .languageDropdownIcon{
    rotate : z 180deg;
}
