.horizontal-bar{
    display: flex;
    column-gap: 2rem;
}
.submenu-items{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    visibility: hidden;
    border-top: calc(var(--header-main-padding-y) + 8px) solid transparent; 
    top: calc(100% - var(--header-main-padding-y)); /* Under header main*/ 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.horizontal-bar .nav-item-regular{
    display: flex;
    align-items: center;   
}
.nav-item{
    color :#152D5280;
}
.nav-item:hover{
    color : #002A9E;
}
.nav-item--active{
    color : #002A9E
}
.horizontal-bar .nav-dropdown-item{
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.horizontal-bar .submenu-items .nav-item{
    background-color: white;
}
.horizontal-bar .submenu-items .nav-item:last-child{
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}
.horizontal-bar .submenu-items .nav-item:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.horizontal-bar .nav-dropdown-area{
    display: flex;
    align-items: center;
}
.nav-dropdown-area:hover .submenu-items{
    visibility: visible;
}
.nav-dropdown-area:hover .nav-item-regular:hover{
    background-color:aliceblue;
}
.nav-dropdown-area:hover .menu-item-dropdown-icon{
    rotate : z 180deg;
}
.menu-item-dropdown-icon{
    transition: rotate 0.5s ease;
}
.navigatable{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-delimiter{
    display: flex;
    align-items: center;
}
.list-delimiter img{
    height : 1em
}
.list-delimiter a > *:not(:last-child){
    padding-right : 8px
}
.delimiter{
    padding : 0 8px;
}

