.horizontal-bar{
    display: flex;
    column-gap: 2rem;
}
.horizontal-bar .nav-item{
    display: flex;
    align-items: center;    
}
.nav-item--pending{
    color :#152D5280;
}
.nav-item--pending:hover{
    color : #002A9E;
}
.nav-item--active{
    color : #002A9E
}

.horizontal-bar .nav-dropdown-item{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.navigatable{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-delimiter{
    display: flex;
    align-items: center;
}
.list-delimiter img{
    height : 1em
}
.list-delimiter a > *:not(:last-child){
    padding-right : 5px
}
.delimiter{
    padding : 0 5px;
}
