#introduction__section1{
    background-image : linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url('/public/IMG_1265.png');   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height : 400px;
    position: relative;
    font-family: 'Roboto';
    color : white;
}
@media only screen and (min-width : 1200px) {
    #introduction__section1{
        padding-bottom : calc(3rem + 172px/2);
    }
}
#gioi-thieu{
    background-image: url('../../../assets/images/img\ 77.png');
    padding: 3rem 0;
    background-size: cover;
}
@media only screen and (min-width : 1200px) {
    #gioi-thieu{
        padding-bottom: 3rem ;
        padding-top: calc(3rem + 172px/2);
    }
}
#su-menh{
    padding : 4rem 0;
}

.container__item--zigzag > div:nth-child(even){
    flex-direction: row-reverse;
}
#hinh-anh-hoat-dong{
    padding : 4rem 0;
    background-color: #001A6C;
}

#chung-chi{
    padding : 4rem 0;
    font-family: 'Roboto';
}
#tuyen-dung{
    background-image: url('../../../assets//images/image\ 216.png');
    font-family: 'Roboto';
    padding : 4rem 0;
}
