/* Prevent the page to be scrolled when the menu sidebar is displayed */
#layout{
    width: 100%;
}
#layout__sidebar--show{
    width: 100%;
    overflow: hidden;
}
#main-content{
    margin-top : var(--main-content-margin-top);
}
#main-content-2{
    margin-top : var(--main-content-margin-top-2);
}
@media only screen and (max-width : 1500px) {
    #main-content{
        margin-top: var(--main-content-margin-top-collapse);
    }
    #main-content-2{
        margin-top: var(--main-content-margin-top-collapse-2);
    }
}

